<!DOCTYPE html>
<html lang="en">
<head>
     <div th:replace="fragments/cms-header :: cms-header-top"/>
</head>

<body>

<!-- Preloader-->
<div th:replace="fragments/cms-body :: cms-body-preload"/>

<section>
  
  <!--  left panel -->
  <div th:replace="fragments/cms-body :: cms-body-left"/>
  
  <div class="mainpanel">
    <!-- cms-body-headerbar-->
    <div th:replace="fragments/cms-body :: cms-body-headerbar"/>
    
    <div class="pageheader">
      <h2><i class="fa fa-home"></i> Dashboard </h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li class="active">Dashboard</li>
        </ol>
      </div>
    </div>
    
    <div class="contentpanel"> 	
      
    </div><!-- contentpanel -->
    
  </div><!-- mainpanel -->
  
  <div class="rightpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#rp-alluser" data-toggle="tab"><i class="fa fa-users"></i> &nbsp;Support Center</a></li>
    </ul>
        
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="rp-alluser">
      </div>  
        <!-- tab-pane -->
        
    </div><!-- tab-content -->
  </div><!-- rightpanel -->
  
  
</section>

</body>
</html>
