<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
       <title>IFWD</title>
	   <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
	   <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" href="../../css/owl.carousel.min.css" />
	   <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}" href="../../css/owl.theme.default.min.css" />
	  <link rel="stylesheet" th:href="@{/css/main1.css}" href="../../css/main1.css" />
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <header>
      <nav class="navbar black" id="navbar-black">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a>LAYANAN HOTLINE <span class="hotline-number"></span> (24/7)</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right hidden-xs first-menu"></ul>
        </div>
      </nav>
      <nav class="navbar white" id="navbar-white">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="images/logo.png" alt="Logo" class="img-responsive main-logo"></img></a>
          </div>
          <ul class="nav navbar-nav navbar-right hidden-xs secondary-menu"></ul>
          <div class="burger-menu-holder visible-xs">
            <div class="burger-menu"></div>
          </div>
        </div>
      </nav>
	</header>
</div>

</body>
</html>