<div class="testi-signup">
  <div class="title">
    <h3>Kirim Testimoni</h3>
    <p>Masukkan data diri untuk kirim testimoni</p>
  </div>
  <div class="button-facebook">
    <img src="images/icon/facebook-white.png" alt="Icon facebook"></img>
    <p>Submit with Facebook</p>
  </div>
  <div class="border-left-right">
    <p>Atau masukkan secara manual</p>
  </div>
  <form action="" id="testi-register">
    <div class="form-group">
      <input type="text" id="testi-name" placeholder="Nama Lengkap" class="form-control" required="true"></input>
    </div>
    <div class="form-group">
      <input type="text" id="testi-profession" placeholder="Profesi" class="form-control" required="true"></input>
    </div>
    <div class="form-group">
      <input type="email" id="testi-email" placeholder="Email" class="form-control" required="true"></input>
    </div>
	<div class="form-group">
      <input type="text" id="testi-age" placeholder="Age" class="form-control" required="true"></input>
    </div>
	<div class="form-group">
      <input type="text" id="testi-website" placeholder="Website" class="form-control" required="true"></input>
    </div>
    <div class="form-group">
      <label>Unggah Foto:</label>
      <div class="testi-photo-upload">
        <p>Upload foto sesuai asuransi atau bidangmu</p>
        <div>
          <div id="testi-photo" class="btn" onclick="uploadFile()">Cari Di Komputer</div>
        </div>
        <input type="file" id="testi-photo-input" accept="image/*" hidden="true"></input>
        <div style="clear: both;"></div>
      </div>
      <p class="red detail" style="margin-top: -15px;">*ukuran maksimal 500kb</p>
    </div>
    <div class="form-group">
      <button class="btn orange">KIRIM TESTIMONI</button>
    </div>
  </form>
</div>

<script>
  function uploadFile() {
    document.getElementById('testi-photo-input').click();
  }

  $('#testi-photo-input').change(function() {
    var imageFile = $(this)[0].files[0].name;
    $(this).parent().parent().find('p.detail').html(imageFile);
  });

  $('#testi-register').on('submit', function(e) {
    e.preventDefault();
	Homepage.resetTestimonial();
	var newTestimonial = {};
	newTestimonial.name = $('#testi-name').val();
	newTestimonial.occupation = $('#testi-profession').val();
	newTestimonial.email = $('#testi-email').val();
	newTestimonial.age = $('#testi-age').val();
	newTestimonial.website = $('#testi-website').val();
	var avatar = $('#testi-photo-input')[0];
	if(avatar.files.length) {
		Homepage.readImage(avatar.files, function(result) {
			if(typeof result !== 'undefined') {
				newTestimonial.avatarPath = result;
				newTestimonial.avatarPathChanged = true;
			}
			Homepage.registerTestimonial(newTestimonial);
		});
	} else {
		Homepage.registerTestimonial(newTestimonial);
	}
    $('.modal-body').html('');
    $('.modal-body').load('testi-submit');
  });
</script>