<div class="testi-submit">
  <div class="title">
    <h3>Kirim Testimoni</h3>
    <p>Masukkan testimonimu sekarang</p>
  </div>
  <form action="" id="submit-testi">
    <div class="detail-profile">
      <div class="profile-image">
        <img src="images/testi-image.png" alt="Profile Picture"></img>
      </div>
      <div class="profile-text">
        <p class="name"></p>
        <p class="job"></p>
      </div>
    </div>
    <div class="form-group">
      <textarea class="form-control" placeholder="Tulis testimoni Anda disini" required="true" id="content"></textarea>
    </div>
    <div class="form-group">
      <button class="btn orange">KIRIM TESTIMONI</button>
    </div>
  </form>
</div>

<script>
	$(document).ready(function() {
		var newTestimonial = Homepage.loadTemporaryTestimonial();
		$('.profile-text .name').html(newTestimonial.name);
		$('.profile-text .job').html(newTestimonial.occupation);
		$('.profile-image').find('img').attr('src', newTestimonial.avatarPath);
		$('#submit-testi').on('submit', function(e) {
			e.preventDefault();
			newTestimonial.content = '<p>'+ $('#content').val() +'</p>';
			Homepage.saveTestimonial(newTestimonial, function(result) {
				$('.modal-body').html() == '';
				$('.modal-body').load('testi-thanks', function() {
					$('.testi-'+ result).css('display', 'block');
				});
			});
		});
	});
</script>